.fullDiv
{
    min-height: 100vh;
    /* 
        即使我设置了高度为100vh但是，当我在浏览器打开使用开发者工具时，
        缩放网页其底部仍有一部分不是背景颜色;这是一个常见的问题，
        尤其是在移动设备和某些浏览器中，当你使用100vh设置高度时，
        它会受到浏览器UI（如地址栏、工具栏等）以及视口缩放的影响。
        在浏览器缩放或调整窗口时，100vh可能不代表实际的可见区域高度，
        从而导致背景颜色或内容的底部不完全填充。
        可使用min-height解决这个问题 
    */
}

.login-form
{
    width: 400px;
    height: 450px;
    border-radius: 8px;         /* 设置圆角，15px */
    background-color: white;
    border-top: 3px solid #6777EF; /* 边框顶部样式 */
    border-bottom: 3px solid #6777EF; /* 边框顶部样式 */
}

.toLogin
{
    margin-top: var(--m);
}