.fullDiv
{
    height: 100vh;
}

.login-form
{
    width: 400px;
    height: 450px;
    border-radius: 8px;         /* 设置圆角，15px */
    background-color: white;
    border-top: 3px solid #6777EF; /* 边框顶部样式 */
    border-bottom: 3px solid #6777EF; /* 边框顶部样式 */
}

.toLogin
{
    margin-top: var(--m);
}