.Label-input
{
    background-color: #FDFDFF; /* 输入框的颜色填充 */
    margin: var(--xs);
    padding: 0;
}

/* 提示信息 */
.errorMessage
{
    color: red;
    font-size: var(--m);
    margin: var(--xs);
    padding: 0;
}

.Label
{
    margin-bottom: calc(var(--m) * 0.8);
}